html {
    
}
body {
    
}

#page {
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}

header {
    width: 100%;
    height: auto;
    grid-column-start: 1;
    grid-column-end: 7;
}

#content {
    height: auto;
    grid-column-start: 1;
    grid-column-end: 2;
}

aside {
   height: auto;
}

article {
    width: 100%;
    height: auto;
}

footer {
    clear: both;
    grid-column-start: 1;
    grid-column-end: 7;
}